@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Heebo';
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: 'Heebo', sans-serif;
}


/* //////////////////////////////////Header Comp//////////////////////////////// */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #184885;
  height: 90px;
  color: #DDF1FD;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.form-control {
  width: 600px;
  border-radius: 40px;
  text-align: right;
}

.logo {
  display: flex;
  align-items: center;
}

.formobileonly {
  display: none;
}

.logo>h5 {
  margin-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
}


.logojo {
  width: 30px;
  height: 44px;
  margin-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
}

.logotara {
  width: 150px;
  margin-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
}


/* Media Screen Header */
@media screen and (max-width: 600px) {

  .form-control {
    width: 250px;
    border-radius: 40px;
  }

  .formobileonly {
    display: block;
  }

  .logo {
    display: none;
  }

  .MuiDrawer-paper {
    padding-top: 40px;
    text-align: right;
    align-items: flex-end;
  }

  .MuiDrawer-paper>h5 {
    margin-right: 20px;
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .logojo {
    width: 30px;
    height: 44px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .logotara {
    width: 120px;
    margin-right: 20px;
    margin-top: 33px;
  }

}


@media screen and (min-width: 426px) {
  .header {
    flex-direction: column-reverse;
  }

  .form-control {
    width: 400px;
    border-radius: 40px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    flex-direction: row;

  }

  .form-control {
    width: 600px;
    border-radius: 40px;
  }
}




/* //////////////////////END Header////////////////////////// */

/* ///////////////// First Page Compo////////////// */

.kenestimg {
  position: relative;
  width: 98.9vw;
  max-width: 100vw;
  height: 934px;
  background-image: url("https://i.ibb.co/47sHf23/image-3.png");
  background-size: cover;
  object-fit: fill;
}

.centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 781px;
  height: 234px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 162%;
  color: #184885;
  text-align: right;
  text-transform: uppercase;
}

.icondown {
  position: absolute;
  top: 80%;
  left: 50%;
}

/* Media screen firstpage */

@media screen and (max-width: 600px) {
  .centertext {
    font-size: 30px;
    width: 300px;
    display: flex;
    padding-top: 300px;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    transform: translate(0, 0);
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
  }

  .kenestimg {
    height: 700px;
    width: 102vw;
  }

  .icondown {
    top: 70%;
    left: 165px;
    right: 165px;
  }

}


/* ///////////////END/////////////////// */
/* ////////// End first page/// */

/* /////// Memeber List and Memeber Card Comp/////////////// */

#memeberlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.container-fluid {
  padding-left: 0px;
}

.MuiTypography-h5 {
  text-align: right;
  color: #184885;
}

.biggrid {
  align-items: center;
}

.previuesarrow {
  padding-left: 16px;
}

.nextarrow {
  padding-right: 16px;
}


.css-4rvxkn-MuiPaper-root-MuiCard-root:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.card {
  width: 442.58px;
  height: 510px;
  text-align: right;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(176.41deg, #FFFEFF 9.92%, #EEF8FE 95.05%);
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 20px;
  cursor: pointer;
}

.card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);

}

.card>img {
  width: 250px;
  height: 285px;
  display: block;
  background-position: center;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}



.card>h4 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 162%;
  text-transform: uppercase;
  color: #184885;
}

.card-title {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 162%;
  text-transform: uppercase;
  color: #184885;
}

.card>h5 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 162%;
  text-transform: uppercase;
  color: #184885;
}

.card-text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 162%;
  text-transform: uppercase;
  color: #184885;
}

.modal-content {
  height: 650px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.modal-header {
  background: linear-gradient(180deg, #DDF1FD 0%, #EEF8FE 100%);
  border-radius: 24px 24px 0 0;
  position: relative;
  padding: 2rem 1rem;
}

.imgmember {
  position: absolute;
  left: 862px;
  top: 40px;
  width: 220px;
  height: 234px;
  border: 8px solid #749BB3;
  border-radius: 85px;

}

.rowfirst {
  margin-top: 10px;
}

.container {
  text-align: right;

}

.title {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  color: #184885;
}

.secondline {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #184885;
}

.smalltitle {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #184885;

}

.littletitle {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #184885;

}

.infomemebr {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 162%;
  color: #184885;
  margin-top: 55px;
}

.infowork {
  margin-top: -10px;
}

@media screen and (max-width: 600px) {

  #memeberlist {
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
  }

  .biggrid {
    align-items: normal;
  }

  .previuesarrow {
    padding-left: 0px;
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 20px;
  }

  /* Modal */

  .modal-content {
    height: 570px;
  }

  .modal-header {
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .imgmember {
    position: unset;
    width: 71px;
    height: 75px;
    border: 2px solid #749BB3;
    border-radius: 26px;
  }

  .col-7 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .row>* {
    width: none;
    padding-right: 0;
  }

  .title {
    font-size: 22px;
  }

  .secondline {
    font-size: 15px;
  }

  .rowfirst {
    margin-top: 5px;
  }

  .smalltitle {
    font-size: 15px;
  }

  .littletitle {
    font-size: 15px;
  }

  .infomemebr {
    font-size: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 0px;
  }
}

/* /////////////////////////////// End of Memeber //////////////// */


/* /////////////////////////////////// Filter Comp ////////////////// */


.filterContainer {
  background-color: #EEF8FE;
  height: 150px;
  text-align: right;
  padding: 5px 30px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.menuitemselect {
  flex-direction: row-reverse;
  text-align: right;
}

#demo-multiple-checkbox-label{
  right: 50px
}

.css-yb0lig {
  color: #184885;
  margin-right: 5px;
  text-align: right;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 600px) {

  .filterContainer {
    background-color: #EEF8FE;
    height: 450px;
    text-align: right;
    padding: 5px 30px;
  }

  .filters {
    display: flex;
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .filters>.MuiFormControl-root {
    width: 210px;
  }

}

/* /////////////////////////////// End of filters //////////////// */

/* //////////////////////////////Subject Filter Section//////////////////// */

.subjectsection {
  text-align: right;
  display: flex;
  flex-direction: column;
  border: 1px solid #E3E5E6;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;

}

.searchsubject {
  color: #184885;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border-radius: 4px;
  padding: 28px;
  cursor: pointer;
}

.imageandtext {
  color: #184885;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border-radius: 4px;
  padding: 28px;
  flex-direction: column;
}

.imageandtext>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.firstline {
  margin-bottom: 20px;
}

.filterimagecontainer {
  position: relative;
  text-align: right;
  color: white;
  cursor: pointer;
}

.filterimagecontainer>img {
  background: rgba(82, 118, 164, 0.973);
  border-radius: 20px;
}

.filtertext {
  position: absolute;
  top: 40px;
  left: 54px;
  right: 54px;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {

  .subjectsection {
    margin-left: 33px;
    margin-right: 33px;
  }

  .imageandtext {
    display: inline-block;
    justify-content: space-around;
    padding-top: 0;
  }

  .imageandtext>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .filterimagecontainer {
    margin-bottom: 5px;
  }

  .filterimagecontainer>img {
    width: 110px;
  }

  .filtertext {
    position: absolute;
    top: 30px;
    left: 33px;
    right: 41px;
    margin-bottom: 0;
  }

  .firstline {
    margin-bottom: 2px;
  }

}

/* /////////////////////////////Footer Section///////////////////////////////// */

.footercomp {
  background-color: #184885;
  height: 205px;

}

.footersection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.junexlogo{
  width: 100px;
}

hr {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.rights {
  color: white;
  text-align: center;
}

/* ///////////////Contact Us Section/////////////////////////////////////// */

.contactus {
  padding-top: 90px;
  margin-bottom: 50px;

}

.container-contactus {
  margin-top: -160px;
  text-align: center;

}

.form-contactus {
  background: #FFFEFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 550px;
  height: 480px;
}

.conh1 {
  color: #184885;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
}

.conh2{
  color: #184885;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-left: 20px;
}

.form-contactus>input {
  margin-bottom: 15px;
  width: 350px;
}

.form-contactus>button {
  width: 350px;
  background-color: #5276A4;
  color: #FFFFFF;
  height: 50px;
  border: 0;
}

.msginput {
  width: 350px;
  height: 150px;
}

.undoicao {
  transform: rotate(-100deg);
  margin-right: 361px;
  color: #5276A4;
}

@media screen and (max-width: 600px) {
  .container-contactus {
    margin-top: 0px;
  }

  .container-contactus>.row {
    flex-direction: column-reverse;
  }

  .form-contactus {
    width: 410px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
  }

  .form-contactus>input {
    margin-bottom: 15px;
    width: 299px;
  }

  .form-contactus>button {
    width: 150px;
  }

  .msginput {
    width: 299px;
    height: 100px;
  }

  .conh1 {
    padding-top: 15px;
    font-size: 48px;
  }

  .conh2{
    font-size: 28px;
  }

  .undoicao {
    margin-right: 200px;
  }

  .btnclass {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .backtohome {
    width: 150px;
    background-color: #5276A4;
    color: #FFFFFF;
    height: 50px;
    border: 0;
    border-radius: 30px;
  }

}


/* ////////////Admin Modal////////// */


.adminmodalheader {
  background: linear-gradient(180deg, #DDF1FD 0%, #EEF8FE 100%);
  border-radius: 24px 24px 0 0;
  position: relative;
  padding: 0rem 1rem;
}

.adminmodalheader>h4 {
  margin-bottom: 0px;
  text-align: right;
}

.adminmodalcol>p {
  margin-bottom: 4px;
}

.login {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  text-align: center;
}


.MuiFormGroup-root {
  justify-content: center
}

#err {
  margin-top: 5px;
  color: red;
}

.loginbtn {
  justify-content: center;
}

.infoforadmin {
  padding-top: 150px;
  display: 'flex';
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btnadmindiv {
  margin-top: 15px;
  display: 'flex';
  justify-content: center;
}

.addnewuserbtn {
  margin-left: 30px;
}

.AdminAddMembercon {
  padding-top: 150px;
  /* display: flex;
  justify-content: space-evenly; */
}

.AdminAddMembercon>h3 {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.AdminAddMemberinput {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.addnewmemberbtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.backbtn {
  margin-right: 80px;
  margin-bottom: 20px;
}

.exceladmin{
  text-align: center;
  padding-top: 150px;
}
